:root {
  --primary: oklch(0.9 0.17 100);
  --bg-dark: oklch(0.1 0 264);
  --bg: oklch(0.2 0 264);
  --bg-light: oklch(0.3 0 264);

  --text: oklch(0.76 0 264);
  --text-muted: oklch(0.76 0 264);

  --shadow-base:
  inset 0 1px 2px #ffffff30,
  0 1px 2px #00000030,
  0 2px 4px #00000015;

  --shadow-negative:
  inset 0 1px 4px #00000015,
  0 1px 2px #00000030,
  inset 0 -1px 2px #ffffff30;
}

.frame {
  background-color: var(--bg-dark);
  box-shadow: var(--shadow-base);
}

.frame-negative {
  background-color: var(--bg-dark);
  box-shadow: var(--shadow-negative);
}